.App {
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
}

.configContainer {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
}

#controls {
  background: aliceblue;
  flex: 1;
  overflow-y: scroll;
}

#canvas {
  flex: 2;
}

.flight-row-header {
  background: #242424;
  color: white;
}

.flight-row:hover {
  background: hotpink;
  cursor: pointer;
}

.flight-row-selected {
  background: #ffa9d3 !important;
}

.flight-row-even {
  background: aliceblue;
}

.flight-row-odd {
  background: #bcd0ec;
}

.info-bubble {
  padding: 5px;
  background: #ffa9d3;
  border-radius: 10px;
  border: 2px solid white;
  width: max-content;
}

.main-text-container {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
}

.flightFilterControls {
  max-width: fit-content;
  margin: 20px;
}

.flights-table {
  text-align: center;
}

.input-controls {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
  margin-left: 20px;
}

.controlPanel {
  overflow-y: scroll;
}

.hover-city-name {
  text-decoration: none;
  color: white;
}

.loading-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto
}
